# Copy and rename this file to config.toml
# Change the settings to your liking

Port = 50000	##Port the server is listening to.
Slots = 100		##Number of slots, do not go over 100
Timeout = 120	##Timeout for dropped connections, clients will be removed after x seconds
Reservedname = "<dollar>HOST"			#The name the server uses in OOC chat, users will be prevented from using this name
Advertise = false						#Advertise the server on the Master Server list
Masterserver = "51.255.160.217:27016"	#Master Server IP and Port

Servername = "Generic Server Name"			#Name of server in the Master Server list
Description = "Generic Server Description"	#Description of the server in the Master Server list

MOTD = "Welcome to our server."		#Message of the day, displayed when user connects or uses /motd

Modpass = "modpass"		#Modpass for mod actions !!!!CHANGE THIS!!!!
Guardpass = "guardpass"	#password for guard in the character select screen, allows mods to hear modcalls